body{
  padding: 0px!important;
  margin:0px!important;
  font-family: 'Roboto', sans-serif!important;
}

// colors scss
$white:#fff;
$grey:#f8f8f8;
$theme_grey:#ececee;
$darkgrey:#1c1c1c;
$mycolor:#ff214f;
$btn_color:#333;
$footer_font:#a2a7ad;
$footer_dark:#141414;
$text_light_grey:#939393;

// media query
$media-phone: "only screen and (max-width : 480px)";
$media-pc: "only screen and (max-width : 1400px)";
$media-laptop: "only screen and (max-width : 1200px)";

.row{
  padding: 0px!important;
  margin:0px!important;
}
.container-fluid{
  padding: 0px!important;
  margin:0px!important;
}

h1 h2 h3 h4 h5 {
	font-family: 'Roboto', sans-serif!important;
}
p{
  font-family: 'Roboto', sans-serif!important;
}
.btn-event{
    padding: 8px 20px;
    background-color: $btn_color;
    outline-color: $btn_color;
    border-color: $btn_color;
    border-radius: 0px;
    font-size: 16px;
}
.btn-event:hover{
  background-color: $white;
border-color: $btn_color;
color: $btn_color;
}
.btn-event:active{
  background-color: $white!important;
border-color: $btn_color!important;
color: $btn_color!important;
}
.btn-event:focus{
  box-shadow: none!important;
}
a{
  text-decoration: none!important;
  color: inherit;
}
a:hover{
  color: inherit;
}
.navbar{
  position: fixed;
  top: 0;
  z-index: 10;
  @media #{$media-phone} {
    width: 100%;
  }

  .nav-link{
    color: #fff;
  }
}
.navbar-transperent{
  background-color: transparent;
}
.nav_class{
  background-color: $white;
  color: #000;
  .nav-link{
    color: #000!important;

  }
}
.mobile-nvbar{
  ul li:last-child {
   border-bottom: 0;
}
  .nav-link{
    color: #fff!important;
    text-align: center;
    z-index: 10;
  }
  .nav-item{
    background-color: rgba(0,0,0,0.6);
    border-bottom: 0.5px solid #fff;
  }

  .navbar-toggler{
    border: none!important;
    outline: 0.1px solid #fff;
}

.navbar-toggler-icon{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand img{
  width: 80%;
}
}

.carousel{
  .carousel-item img{
    height: 100vh;
  }
  .carousel-caption{
    top:35%;
    @media #{$media-pc} {
        top:30%;
  }
  @media #{$media-phone} {
        top:30%;
  }


    h1{
      font-weight: bold;
      font-size: 57px;
      padding: 10px 50px;
      overflow: hidden;
      @media #{$media-phone} {
        font-size: 25px;
        padding: 10px 0px;
  }

    }

    .btn-event{
      margin-top: 20px;
      background-color: transparent;
      border: 2px solid $white;
    }
    .btn-event:hover{
      background-color: $white;
      color: $footer_dark;

    }
  }
}

.about-section{
  background-image: url(../../assets/images/about-bg.jpg);
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 700px;
  width: 100%;
  padding: 130px 0px;
  @media #{$media-phone} {
    height: 920px;
    text-align: center;
  }

  #left-part{
    .red{
      color: $mycolor;
      font-size: 18px;
    }
    p{
      font-size: 16px;
      font-weight: 200;
    }
    h5{
      font-size: 34px;
      font-weight: 600;
      padding: 10px 0px;
    }
    #svg{
      margin-top: 15px!important;
    .col-md-6{
      padding-left: 0px!important
    }
    .icon-about{
      font-size: 36px;
      color: $mycolor;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p{
      font-weight: 200;
    }
  }
  }
}

.service-section{
  padding: 80px 0px!important;
  h1{
    text-align: center;
    font-size: 36px;
    padding: 20px 100px;
}
.sup-para{
  font-size: 16px;
  font-weight: 200;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
  text-align: center;
}

.service-cards{
  .card{
    border: 1px solid #dbdbdb;
    padding-top: 30px;
    h5{
      font-size: 18px;
      text-align: center;
    }
    p{
      font-size: 16px;
      font-weight: 200;
      text-align:center;
      padding-bottom: 30px;
    }
    .svg{

      margin-left: 35%;
      margin-top: 20px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $mycolor;
      svg{
        padding: 5px;
      }

    }
  }
}
}

.service-photo-section{
  padding: 100px 0px;
  @media #{$media-phone} {
     padding: 60px 0px;
  }

  .head-p{
    margin-bottom: 0.5rem!important;
    text-align: center;
    text-transform: capitalize;
  }
  h1{
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
  }

  .figure{
    width: 100%;
    @media #{$media-pc} {
   .figure{
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
   }
  }
    .panel {
	margin: 0 auto;
  height: 270px;
  width: 100%;
	position: relative;
	// -webkit-perspective: 600px;
	// -moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}

.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateY(0deg) rotateX(0deg);
	   -moz-transform: rotateY(0deg) rotateX(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateY(0deg) rotateX(0deg);
	-moz-transform: rotateY(0deg) rotateX(0deg);
}
.box1{
	background-color: #fff;
	width: 100%;
	height: auto;

	padding: 0px;

}
.box2{
	background-color: #ff7e70;
  width: 100%;
	height: auto;
	padding: 0px;
  align-self: center;
  p{
    text-align: center;
  padding: 100px 0px;
  @media #{$media-laptop} {
      padding: 75px 0px;
  }
  }
}


    img{
      margin-top: 0px;
      width: 100%;
      height: auto;
    }
    .figure-caption{

      h5{
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        padding-top: 18px;
        @media #{$media-phone} {
            padding-top: 0px;
  }
      }
      p{
        font-size: 14px;
        font-weight: 200;
        text-align: center;
      }
    }

  }

}

.img-cont-section{
  .col-md-3{
    padding: 0px!important;
  }
  img{
    width: 100%;
    height: auto;
    @media #{$media-pc} {
    height: 400px;
  }
  }
  #text{
    background-color: $footer_dark;
    padding: 15px 55px!important;
    text-align: left;
    @media #{$media-pc} {
   padding: 15px 20px!important;
  }
    .head-p{
      font-size: 16px;
      padding-top: 10px;
      color: $text_light_grey;
    }
    h4{
      color: $white;
    }
    p{
      color: $text_light_grey;
    }
    .btn-event{
        padding: 8px 20px;
        background-color: $footer_dark;
        outline-color: $white;
        border-color: $white;
        border-radius: 0px;
        font-size: 16px;
    }
  }
}
.portfolio{
  padding: 100px 0px;
  @media #{$media-pc} {
      padding:60px 0px;
}
  ul{
    margin-bottom: 32px;
  }
  ul li{
  display: inline;
  text-align: center;
  padding-bottom: 15px;
  @media #{$media-phone} {
   display: block;
  }
  .active{
   border-bottom: 1px solid #000;
  }


}
.port-btn{
  padding: 10px 20px;

}

a:focus{
  border: $white;
  box-shadow: none;
}
a:hover{
  border-radius: 0px;
  border-bottom: 1px solid #000;
}

  .card{
    border: none!important;
  img{
    width: 100%;
    height:auto;
    padding-bottom: 20px;

}
}

}

.happy-client{
  padding: 100px 0px;
  @media #{$media-pc} {
      padding:60px 0px;
}
  .col-md-3{
    display: inline-block;
    @media #{$media-phone} {
      overflow: hidden;
  }

    img{
      @media #{$media-pc} {
          width: 40%;
          overflow: hidden;
    }
    }
  .text{
      // display: table-cell;
      float: right;
      padding-top: 0px;

  }
  }
}

.video-section{
    background-image: url("../../assets/images/para-img.jpg");
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // opacity: 0.6;
    @media #{$media-phone} {
      height: 760px;
  }

    .container{
      padding: 150px 0px!important;
      @media #{$media-phone} {
      padding: 100px 0px!important;
  }

      .youtube-btn{
        background-color: $white;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        @media #{$media-phone} {
          width: 50px;
          height: 50px;
  }

      }
  h2{
    font-size: 47px;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    @media #{$media-phone} {
   font-size: 30px;
  }

  }
  p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    @media #{$media-phone} {
      padding-left: 20px;
      padding-right: 20px;
  }

  }
  .fa-youtube-play{
    font-size: 16px;
    color: #000;
    margin-right: 8px;
    border-radius: 50%;

  }
  .btn-event{
    margin-top: 30px;
  margin-left: 43%;
  border-color: #fff;
  outline: #fff;
  background-color: #fff;
  color: #000;
  @media #{$media-phone} {
    margin-left: 25%;
}
  }
}
}


.home-gallery{
  padding: 100px 0px;
  .owl-prev, .owl-next, .owl-dots{
    display: none!important;
  }
}



.testomonial{
  padding: 100px 0px;
  background-color: #f7f7f7;
  .owl-prev, .owl-next, .owl-dots{
    display: none!important;
  }
  .testo{
    text-align: center;
    background-color: $white;
    padding: 15px;

    img{
      width: 120px!important;
      height: 120px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p{
      font-size: 14px;
    }
    h6{
      font-size: 16px;
      padding: 8px 0px;
    }
  }
}

.social-media{
  padding: 30px 0px;
  background-color: $footer_dark;
  color: $white;
  .inline{
    display: inline!important;
  p{
    text-align: center;
    margin-bottom: 0px!important;
  }
  .fa{
    font-size: 16px;
    margin-left: 8px;
    color: $white;
  }
}
}

.footer{
  padding: 100px 0px;
  background-color: #1c1c1c;
  color: $white;
  @media #{$media-phone} {
   padding: 60px 0px;
  }

  h6{
    font-size: 15px;
    color: #6f6f6f;
    padding-bottom: 10px;
  }
  p{
    font-size: 12px;
    color: #6f6f6f;
  }
  #middle_footer{
    .col-3, .col-9{
      padding: 0px!important;
      border-bottom: 1px solid  #6f6f6f;
      margin-bottom: 10px;

    }
    .no-border{
      border-bottom: none;
    }
    img{
      width: 100%;
      height: auto;
      padding-bottom: 10px;
    }
    p{
      padding-left: 15px;
    }

  }
  #footer_img{
    .col-4{
      padding: 0px!important;
    }
    img{
      padding: 8px;
      width: 100%;
    }
  }
  hr{
    height: 0.5px;
    background-color: #6f6f6f;
    margin-bottom: 15px;
  }
  #bottom{
    padding-top: 20px!important;


    .left{
      text-align: left;
      @media #{$media-phone} {
        text-align: center;
    }
    }
    .right{
      text-align: right;
      @media #{$media-phone} {
        text-align: center;
    }
    }
  }
}

// about page start
.about-top-img{
background-image: url("../../assets/images/about-banner.jpg");
margin-top: 120px;
height: 450px;
width: 100%;
      .light-opacity {
          position: absolute;
          height: 570px;
          width: 100%;
          opacity: 0.75;
          top: 0;
          left: 0;

      }
      .bg-dark{
        background-color: #1c1c1c;
      }
      .container{
        padding: 200px!important;
        text-align: center;
        color: $white;
        p{
          font-size: 16px;
          z-index: 9;
          color: $white;
        }
        h1{
          font-size: 32px;
          color: $white;
        }
      }
}


.page-about-section{
  padding-top: 100px;
  padding-bottom: 50px;
  .row{
    padding-bottom: 50px!important;
  }
  .red{
    color: red;
    padding-top: 15px;
  }
  img{
    width: 100%;
    height: 100%;
    padding: 15px 30px;
  }
  p{
      font-size: 16px;

  }
  h3{
    font-size: 26px;
    padding-bottom: 10px;
  }
  .btn-event{
  border-radius: 25px;
  }
}

.about-happy-client{
  padding: 100px 0px;
  @media #{$media-pc} {
      padding:60px 0px;
}
  .col-md-4{
    display: inline-block;
    @media #{$media-phone} {
      overflow: hidden;
  }

    img{
      margin-left: auto;
      margin-right: auto;
      @media #{$media-pc} {
          width: 100%;
          overflow: hidden;
    }
    }
    .col-6{
      padding: 0!important;

    }
  .text{
      // display: table-cell;
      h6{
        font-size: 18px;
        font-weight: 700;
      }
      p{
        font-size: 14px;
      }
      padding-top: 0px;
  }
  }
}
.about-page-team{
  padding: 100px 0px;
  background-color: #f7f7f7;
  .text{
    padding: 30px;
    background-color: $white;
    margin: 10px;
    p{
      font-size: 14px;
    }

  }
.fa-sort-desc{
  font-size: 28px;
  color: #d6d5d5;
  position: relative;
  top: -22px;
  left: 35px;
}
  .col-md-4{
    .row{
      padding: !important;
      margin-top: 10px!important;
      img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
      }
      h6{
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        padding-top: 25px;
        margin-bottom: 1px;
      }
      p{
        font-size: 12px;
        text-align: center;
      }
    }
  }

}

// about page ends

// contact page start
.contact-top-img{
background-image: url("../../assets/images/about-banner.jpg");
margin-top: 120px;
height: 450px;
width: 100%;

.light-opacity {
    position: absolute;
    height: 570px;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0;

}
.bg-dark{
  background-color: #1c1c1c;
}
.container{
  padding: 200px!important;
  text-align: center;
  color: $white;
  p{
    font-size: 16px;
    z-index: 9;
    color: $white;
  }
  h1{
    font-size: 32px;
    color: $white;
  }
}

}

.address{
  padding: 100px 0px;
  text-align: center;
  h6{
    font-size: 15px;
    font-weight: 300;
  }
  h2{
    font-size: 57px;
  }
  p{
    padding: 10px 150px;
  }
  .btn-event{
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    color: inherit;
  }
  .btn:hover{
    background-color: $footer_dark;
    color: $white;
  }
}

.img-addr{
  .col-md-6{
    padding: 0px!important;
  }
  img{
    width: 100%;
  }
  .fa{
    font-size: 45px;
    color: #ff214f;
    padding-bottom: 15px;
    margin-left: 45px;
    @media #{$media-pc} {
      font-size: 35px;
      color: #ff214f;
      padding-bottom: 15px;
      margin-left: 45px;
    }
  }

  p{
    font-size: 16px;
    font-weight: 300;
  }
  .bg-dark-cont{
      background-color: #000;
  }
  .bg-light-cont{
    background-color: #1c1c1c;
  }
  #frist{
      padding: 91px 100px !important;
      @media #{$media-pc} {
        padding: 49px 30px !important;
  }
  @media #{$media-laptop} {
      padding: 28px 30px !important;
  }
      color: $white;
  }
}

.email_form{
  padding: 100px 0px;
  text-align: center;
  h2{
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  p{
    font-size: 16px;

  }
  .input-form{
    width: 100%;
    margin-top: 25px;
    padding: 18px 25px;
    font-size: 18px;
  }
  .big-textarea{
    width: 100%;
    margin-top: 25px;
    padding: 18px 25px;
    font-size: 18px;
  }
  .btn-event{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: $white;
    color: inherit;
  }
  .btn:hover{
    background-color: $footer_dark;
    color: $white;
  }
}

// contact page ends


// gallery page starts

.gallery-top-img{
background-image: url("../../assets/images/about-banner.jpg");
margin-top: 120px;
height: 450px;
width: 100%;

.light-opacity {
    position: absolute;
    height: 570px;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0;

}
.bg-dark{
  background-color: #1c1c1c;
}
.container{

  padding: 200px!important;
  text-align: center;
  color: $white;
  p{
    font-size: 16px;
    z-index: 9;
    color: $white;
  }
  h1{
    font-size: 32px;
    color: $white;
  }
}
}

.gallery-bottom{
  padding: 40px 0px;
  .btn-event{
    background-color: #fff;
    color: $footer_dark;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 8px 30px;
  }
  .btn-event:hover{
      background-color:$footer_dark;
      color: #fff;
      margin-left: auto;
      margin-right: auto;
  }
  p{
    font-size: 22px;
  }
  .fa{
    padding-left: 5px;
  }
}
