body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Roboto", sans-serif !important; }

.row {
  padding: 0px !important;
  margin: 0px !important; }

.container-fluid {
  padding: 0px !important;
  margin: 0px !important; }

h1 h2 h3 h4 h5 {
  font-family: "Roboto", sans-serif !important; }

p {
  font-family: "Roboto", sans-serif !important; }

.btn-event {
  padding: 8px 20px;
  background-color: #333;
  outline-color: #333;
  border-color: #333;
  border-radius: 0px;
  font-size: 16px; }

.btn-event:hover {
  background-color: #fff;
  border-color: #333;
  color: #333; }

.btn-event:active {
  background-color: #fff !important;
  border-color: #333 !important;
  color: #333 !important; }

.btn-event:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

a {
  text-decoration: none !important;
  color: inherit; }

a:hover {
  color: inherit; }

.navbar {
  position: fixed;
  top: 0;
  z-index: 10; }
  @media only screen and (max-width: 480px) {
    .navbar {
      width: 100%; } }
  .navbar .nav-link {
    color: #fff; }

.navbar-transperent {
  background-color: transparent; }

.nav_class {
  background-color: #fff;
  color: #000; }
  .nav_class .nav-link {
    color: #000 !important; }

.mobile-nvbar ul li:last-child {
  border-bottom: 0; }

.mobile-nvbar .nav-link {
  color: #fff !important;
  text-align: center;
  z-index: 10; }

.mobile-nvbar .nav-item {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0.5px solid #fff; }

.mobile-nvbar .navbar-toggler {
  border: none !important;
  outline: 0.1px solid #fff; }

.mobile-nvbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.mobile-nvbar .navbar-brand img {
  width: 80%; }

.carousel .carousel-item img {
  height: 100vh; }

.carousel .carousel-caption {
  top: 35%; }
  @media only screen and (max-width: 1400px) {
    .carousel .carousel-caption {
      top: 30%; } }
  @media only screen and (max-width: 480px) {
    .carousel .carousel-caption {
      top: 30%; } }
  .carousel .carousel-caption h1 {
    font-weight: bold;
    font-size: 57px;
    padding: 10px 50px;
    overflow: hidden; }
    @media only screen and (max-width: 480px) {
      .carousel .carousel-caption h1 {
        font-size: 25px;
        padding: 10px 0px; } }
  .carousel .carousel-caption .btn-event {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #fff; }
  .carousel .carousel-caption .btn-event:hover {
    background-color: #fff;
    color: #141414; }

.about-section {
  background-image: url(../../assets/images/about-bg.jpg);
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 700px;
  width: 100%;
  padding: 130px 0px; }
  @media only screen and (max-width: 480px) {
    .about-section {
      height: 920px;
      text-align: center; } }
  .about-section #left-part .red {
    color: #ff214f;
    font-size: 18px; }
  .about-section #left-part p {
    font-size: 16px;
    font-weight: 200; }
  .about-section #left-part h5 {
    font-size: 34px;
    font-weight: 600;
    padding: 10px 0px; }
  .about-section #left-part #svg {
    margin-top: 15px !important; }
    .about-section #left-part #svg .col-md-6 {
      padding-left: 0px !important; }
    .about-section #left-part #svg .icon-about {
      font-size: 36px;
      color: #ff214f;
      padding-top: 20px;
      padding-bottom: 10px; }
    .about-section #left-part #svg p {
      font-weight: 200; }

.service-section {
  padding: 80px 0px !important; }
  .service-section h1 {
    text-align: center;
    font-size: 36px;
    padding: 20px 100px; }
  .service-section .sup-para {
    font-size: 16px;
    font-weight: 200;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
    text-align: center; }
  .service-section .service-cards .card {
    border: 1px solid #dbdbdb;
    padding-top: 30px; }
    .service-section .service-cards .card h5 {
      font-size: 18px;
      text-align: center; }
    .service-section .service-cards .card p {
      font-size: 16px;
      font-weight: 200;
      text-align: center;
      padding-bottom: 30px; }
    .service-section .service-cards .card .svg {
      margin-left: 35%;
      margin-top: 20px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #ff214f; }
      .service-section .service-cards .card .svg svg {
        padding: 5px; }

.service-photo-section {
  padding: 100px 0px; }
  @media only screen and (max-width: 480px) {
    .service-photo-section {
      padding: 60px 0px; } }
  .service-photo-section .head-p {
    margin-bottom: 0.5rem !important;
    text-align: center;
    text-transform: capitalize; }
  .service-photo-section h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px; }
  .service-photo-section .figure {
    width: 100%; }
    @media only screen and (max-width: 1400px) {
      .service-photo-section .figure .figure {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    .service-photo-section .figure .panel {
      margin: 0 auto;
      height: 270px;
      width: 100%;
      position: relative; }
    .service-photo-section .figure .panel .front,
    .service-photo-section .figure .panel .back {
      text-align: center; }
    .service-photo-section .figure .panel .front {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 900;
      text-align: center;
      -webkit-transform: rotateY(0deg) rotateX(0deg);
      -moz-transform: rotateY(0deg) rotateX(0deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    .service-photo-section .figure .panel .back {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 1000;
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    .service-photo-section .figure .panel.flip .front {
      z-index: 900;
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg); }
    .service-photo-section .figure .panel.flip .back {
      z-index: 1000;
      -webkit-transform: rotateY(0deg) rotateX(0deg);
      -moz-transform: rotateY(0deg) rotateX(0deg); }
    .service-photo-section .figure .box1 {
      background-color: #fff;
      width: 100%;
      height: auto;
      padding: 0px; }
    .service-photo-section .figure .box2 {
      background-color: #ff7e70;
      width: 100%;
      height: auto;
      padding: 0px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      .service-photo-section .figure .box2 p {
        text-align: center;
        padding: 100px 0px; }
        @media only screen and (max-width: 1200px) {
          .service-photo-section .figure .box2 p {
            padding: 75px 0px; } }
    .service-photo-section .figure img {
      margin-top: 0px;
      width: 100%;
      height: auto; }
    .service-photo-section .figure .figure-caption h5 {
      font-size: 17px;
      font-weight: 700;
      text-align: center;
      padding-top: 18px; }
      @media only screen and (max-width: 480px) {
        .service-photo-section .figure .figure-caption h5 {
          padding-top: 0px; } }
    .service-photo-section .figure .figure-caption p {
      font-size: 14px;
      font-weight: 200;
      text-align: center; }

.img-cont-section .col-md-3 {
  padding: 0px !important; }

.img-cont-section img {
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 1400px) {
    .img-cont-section img {
      height: 400px; } }

.img-cont-section #text {
  background-color: #141414;
  padding: 15px 55px !important;
  text-align: left; }
  @media only screen and (max-width: 1400px) {
    .img-cont-section #text {
      padding: 15px 20px !important; } }
  .img-cont-section #text .head-p {
    font-size: 16px;
    padding-top: 10px;
    color: #939393; }
  .img-cont-section #text h4 {
    color: #fff; }
  .img-cont-section #text p {
    color: #939393; }
  .img-cont-section #text .btn-event {
    padding: 8px 20px;
    background-color: #141414;
    outline-color: #fff;
    border-color: #fff;
    border-radius: 0px;
    font-size: 16px; }

.portfolio {
  padding: 100px 0px; }
  @media only screen and (max-width: 1400px) {
    .portfolio {
      padding: 60px 0px; } }
  .portfolio ul {
    margin-bottom: 32px; }
  .portfolio ul li {
    display: inline;
    text-align: center;
    padding-bottom: 15px; }
    @media only screen and (max-width: 480px) {
      .portfolio ul li {
        display: block; } }
    .portfolio ul li .active {
      border-bottom: 1px solid #000; }
  .portfolio .port-btn {
    padding: 10px 20px; }
  .portfolio a:focus {
    border: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .portfolio a:hover {
    border-radius: 0px;
    border-bottom: 1px solid #000; }
  .portfolio .card {
    border: none !important; }
    .portfolio .card img {
      width: 100%;
      height: auto;
      padding-bottom: 20px; }

.happy-client {
  padding: 100px 0px; }
  @media only screen and (max-width: 1400px) {
    .happy-client {
      padding: 60px 0px; } }
  .happy-client .col-md-3 {
    display: inline-block; }
    @media only screen and (max-width: 480px) {
      .happy-client .col-md-3 {
        overflow: hidden; } }
    @media only screen and (max-width: 1400px) {
      .happy-client .col-md-3 img {
        width: 40%;
        overflow: hidden; } }
    .happy-client .col-md-3 .text {
      float: right;
      padding-top: 0px; }

.video-section {
  background-image: url("../../assets/images/para-img.jpg");
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  @media only screen and (max-width: 480px) {
    .video-section {
      height: 760px; } }
  .video-section .container {
    padding: 150px 0px !important; }
    @media only screen and (max-width: 480px) {
      .video-section .container {
        padding: 100px 0px !important; } }
    .video-section .container .youtube-btn {
      background-color: #fff;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 15px;
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (max-width: 480px) {
        .video-section .container .youtube-btn {
          width: 50px;
          height: 50px; } }
    .video-section .container h2 {
      font-size: 47px;
      color: #fff;
      padding: 20px 0px;
      text-align: center; }
      @media only screen and (max-width: 480px) {
        .video-section .container h2 {
          font-size: 30px; } }
    .video-section .container p {
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      color: #fff; }
      @media only screen and (max-width: 480px) {
        .video-section .container p {
          padding-left: 20px;
          padding-right: 20px; } }
    .video-section .container .fa-youtube-play {
      font-size: 16px;
      color: #000;
      margin-right: 8px;
      border-radius: 50%; }
    .video-section .container .btn-event {
      margin-top: 30px;
      margin-left: 43%;
      border-color: #fff;
      outline: #fff;
      background-color: #fff;
      color: #000; }
      @media only screen and (max-width: 480px) {
        .video-section .container .btn-event {
          margin-left: 25%; } }

.home-gallery {
  padding: 100px 0px; }
  .home-gallery .owl-prev, .home-gallery .owl-next, .home-gallery .owl-dots {
    display: none !important; }

.testomonial {
  padding: 100px 0px;
  background-color: #f7f7f7; }
  .testomonial .owl-prev, .testomonial .owl-next, .testomonial .owl-dots {
    display: none !important; }
  .testomonial .testo {
    text-align: center;
    background-color: #fff;
    padding: 15px; }
    .testomonial .testo img {
      width: 120px !important;
      height: 120px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 25px; }
    .testomonial .testo p {
      font-size: 14px; }
    .testomonial .testo h6 {
      font-size: 16px;
      padding: 8px 0px; }

.social-media {
  padding: 30px 0px;
  background-color: #141414;
  color: #fff; }
  .social-media .inline {
    display: inline !important; }
    .social-media .inline p {
      text-align: center;
      margin-bottom: 0px !important; }
    .social-media .inline .fa {
      font-size: 16px;
      margin-left: 8px;
      color: #fff; }

.footer {
  padding: 100px 0px;
  background-color: #1c1c1c;
  color: #fff; }
  @media only screen and (max-width: 480px) {
    .footer {
      padding: 60px 0px; } }
  .footer h6 {
    font-size: 15px;
    color: #6f6f6f;
    padding-bottom: 10px; }
  .footer p {
    font-size: 12px;
    color: #6f6f6f; }
  .footer #middle_footer .col-3, .footer #middle_footer .col-9 {
    padding: 0px !important;
    border-bottom: 1px solid  #6f6f6f;
    margin-bottom: 10px; }
  .footer #middle_footer .no-border {
    border-bottom: none; }
  .footer #middle_footer img {
    width: 100%;
    height: auto;
    padding-bottom: 10px; }
  .footer #middle_footer p {
    padding-left: 15px; }
  .footer #footer_img .col-4 {
    padding: 0px !important; }
  .footer #footer_img img {
    padding: 8px;
    width: 100%; }
  .footer hr {
    height: 0.5px;
    background-color: #6f6f6f;
    margin-bottom: 15px; }
  .footer #bottom {
    padding-top: 20px !important; }
    .footer #bottom .left {
      text-align: left; }
      @media only screen and (max-width: 480px) {
        .footer #bottom .left {
          text-align: center; } }
    .footer #bottom .right {
      text-align: right; }
      @media only screen and (max-width: 480px) {
        .footer #bottom .right {
          text-align: center; } }

.about-top-img {
  background-image: url("../../assets/images/about-banner.jpg");
  margin-top: 120px;
  height: 450px;
  width: 100%; }
  .about-top-img .light-opacity {
    position: absolute;
    height: 570px;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0; }
  .about-top-img .bg-dark {
    background-color: #1c1c1c; }
  .about-top-img .container {
    padding: 200px !important;
    text-align: center;
    color: #fff; }
    .about-top-img .container p {
      font-size: 16px;
      z-index: 9;
      color: #fff; }
    .about-top-img .container h1 {
      font-size: 32px;
      color: #fff; }

.page-about-section {
  padding-top: 100px;
  padding-bottom: 50px; }
  .page-about-section .row {
    padding-bottom: 50px !important; }
  .page-about-section .red {
    color: red;
    padding-top: 15px; }
  .page-about-section img {
    width: 100%;
    height: 100%;
    padding: 15px 30px; }
  .page-about-section p {
    font-size: 16px; }
  .page-about-section h3 {
    font-size: 26px;
    padding-bottom: 10px; }
  .page-about-section .btn-event {
    border-radius: 25px; }

.about-happy-client {
  padding: 100px 0px; }
  @media only screen and (max-width: 1400px) {
    .about-happy-client {
      padding: 60px 0px; } }
  .about-happy-client .col-md-4 {
    display: inline-block; }
    @media only screen and (max-width: 480px) {
      .about-happy-client .col-md-4 {
        overflow: hidden; } }
    .about-happy-client .col-md-4 img {
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (max-width: 1400px) {
        .about-happy-client .col-md-4 img {
          width: 100%;
          overflow: hidden; } }
    .about-happy-client .col-md-4 .col-6 {
      padding: 0 !important; }
    .about-happy-client .col-md-4 .text {
      padding-top: 0px; }
      .about-happy-client .col-md-4 .text h6 {
        font-size: 18px;
        font-weight: 700; }
      .about-happy-client .col-md-4 .text p {
        font-size: 14px; }

.about-page-team {
  padding: 100px 0px;
  background-color: #f7f7f7; }
  .about-page-team .text {
    padding: 30px;
    background-color: #fff;
    margin: 10px; }
    .about-page-team .text p {
      font-size: 14px; }
  .about-page-team .fa-sort-desc {
    font-size: 28px;
    color: #d6d5d5;
    position: relative;
    top: -22px;
    left: 35px; }
  .about-page-team .col-md-4 .row {
    padding: !important;
    margin-top: 10px !important; }
    .about-page-team .col-md-4 .row img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    .about-page-team .col-md-4 .row h6 {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      padding-top: 25px;
      margin-bottom: 1px; }
    .about-page-team .col-md-4 .row p {
      font-size: 12px;
      text-align: center; }

.contact-top-img {
  background-image: url("../../assets/images/about-banner.jpg");
  margin-top: 120px;
  height: 450px;
  width: 100%; }
  .contact-top-img .light-opacity {
    position: absolute;
    height: 570px;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0; }
  .contact-top-img .bg-dark {
    background-color: #1c1c1c; }
  .contact-top-img .container {
    padding: 200px !important;
    text-align: center;
    color: #fff; }
    .contact-top-img .container p {
      font-size: 16px;
      z-index: 9;
      color: #fff; }
    .contact-top-img .container h1 {
      font-size: 32px;
      color: #fff; }

.address {
  padding: 100px 0px;
  text-align: center; }
  .address h6 {
    font-size: 15px;
    font-weight: 300; }
  .address h2 {
    font-size: 57px; }
  .address p {
    padding: 10px 150px; }
  .address .btn-event {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: inherit; }
  .address .btn:hover {
    background-color: #141414;
    color: #fff; }

.img-addr .col-md-6 {
  padding: 0px !important; }

.img-addr img {
  width: 100%; }

.img-addr .fa {
  font-size: 45px;
  color: #ff214f;
  padding-bottom: 15px;
  margin-left: 45px; }
  @media only screen and (max-width: 1400px) {
    .img-addr .fa {
      font-size: 35px;
      color: #ff214f;
      padding-bottom: 15px;
      margin-left: 45px; } }

.img-addr p {
  font-size: 16px;
  font-weight: 300; }

.img-addr .bg-dark-cont {
  background-color: #000; }

.img-addr .bg-light-cont {
  background-color: #1c1c1c; }

.img-addr #frist {
  padding: 91px 100px !important;
  color: #fff; }
  @media only screen and (max-width: 1400px) {
    .img-addr #frist {
      padding: 49px 30px !important; } }
  @media only screen and (max-width: 1200px) {
    .img-addr #frist {
      padding: 28px 30px !important; } }

.email_form {
  padding: 100px 0px;
  text-align: center; }
  .email_form h2 {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .email_form p {
    font-size: 16px; }
  .email_form .input-form {
    width: 100%;
    margin-top: 25px;
    padding: 18px 25px;
    font-size: 18px; }
  .email_form .big-textarea {
    width: 100%;
    margin-top: 25px;
    padding: 18px 25px;
    font-size: 18px; }
  .email_form .btn-event {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    color: inherit; }
  .email_form .btn:hover {
    background-color: #141414;
    color: #fff; }

.gallery-top-img {
  background-image: url("../../assets/images/about-banner.jpg");
  margin-top: 120px;
  height: 450px;
  width: 100%; }
  .gallery-top-img .light-opacity {
    position: absolute;
    height: 570px;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0; }
  .gallery-top-img .bg-dark {
    background-color: #1c1c1c; }
  .gallery-top-img .container {
    padding: 200px !important;
    text-align: center;
    color: #fff; }
    .gallery-top-img .container p {
      font-size: 16px;
      z-index: 9;
      color: #fff; }
    .gallery-top-img .container h1 {
      font-size: 32px;
      color: #fff; }

.gallery-bottom {
  padding: 40px 0px; }
  .gallery-bottom .btn-event {
    background-color: #fff;
    color: #141414;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 8px 30px; }
  .gallery-bottom .btn-event:hover {
    background-color: #141414;
    color: #fff;
    margin-left: auto;
    margin-right: auto; }
  .gallery-bottom p {
    font-size: 22px; }
  .gallery-bottom .fa {
    padding-left: 5px; }
